# Project exclude paths
/barista-service/target/
/maintenance-service/target/
/order-service/target/
/product-service/target/
/storage-service/target/
/.idea/
/maven-settings.xml
/config.json
/sso74_provision_details.txt
/webapp/target/classes/com/redhat/labs/jeedatagrid/
/eap_installation_details.txt
/webapp/target/
